* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #0f172a, #1e293b);
  padding: 20px;
}

.slider {
  width: 1100px;
  max-width: 100%;
  height: 600px;
  overflow: hidden;
  border-radius: 25px;
  box-shadow: 0 25px 60px rgba(0, 0, 0, 0.35);
  position: relative;
  border: 2px solid rgba(0, 0, 0, 0.8);
}

.slides {
  display: flex;
  width: 400%;
  height: 100%;
  animation: slide 10s infinite;
}

.slide {
  width: 25%;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slide::before {
  content: '';
  position: absolute;
  inset: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.15));
}

.content {
  position: absolute;
  left: 60px;
  bottom: 60px;
  color: #fff;
  width: 420px;
  z-index: 2;
  backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.08);
  padding: 30px;
  border-radius: 20px;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.15);
}

.content h2 {
  font-size: 42px;
  margin-bottom: 15px;
}

.content p {
  line-height: 1.8;
  margin-bottom: 25px;
  color: #ddd;
}

.content a {
  display: inline-block;
  padding: 14px 13px;
  background: #38bdf8;
  color: #fff;
  text-decoration: none;
  border-radius: 10px;
  font-weight: 600;
  transition: 0.4s;
}

.content a:hover {
  background: #0ea5e9;
  transform: translateY(-3px);
}

@keyframes slide {
  0%,
  20% {
    transform: translateX(0);
  }

  25%,
  45% {
    transform: translateX(-25%);
  }

  50%,
  70% {
    transform: translateX(-50%);
  }

  75%,
  95% {
    transform: translateX(-75%);
  }
  100% {
    transform: translateX(0);
  }
}

.slider::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 25px;

  transform: translateX(-50%);
  width: 140px;
  height: 8px;

  border-radius: 100px;
  background:rgba(255,255,255,0.2)
}
