* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0a0a12;
  font-family: sans-serif;
}

.neon-btn {
  position: relative;
  padding: 16px 45px;
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  background: #111;
  border: none;
  cursor: pointer;
  border-radius: 12px;
  overflow: hidden;
  z-index: 1;
  transition: 0.3s ease;
}

.neon-btn::before {
  content: '';
  position: absolute;
  inset: -2px;
  background: linear-gradient(145deg, #00f5ff, #ff00ff, #00f5ff);
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  animation: neonBorder 6s linear infinite;
}

.neon-btn::after {
  content: '';
  position: absolute;
  inset: 2px;
  border-radius: 10px;
  border-radius: 10px;
  z-index: -1;
}

.neon-btn:hover {
  transform: translateY(-5px) scale(1.05);
  box-shadow:
    0 0 15px #00f5ff,
    0 0 40px #ff00ff;
}

.neon-btn span::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  background: rgba(255, 255, 255, 0.2);
  width: 50%;
  height: 100%;
  transform: skewX(-25deg);
  transition: 0.5s;
}

.neon-btn:hover span::before {
  left: 120%;
}

@keyframes neonBorder {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.neon-btn {
  position: relative;
  overflow: hidden;
}

.ripple {
  position: absolute;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 50%;

  transform: translate(-50%, -50%) scale(0);
  animation: rippleAnim 0.6s ease-in-out;
}

@keyframes rippleAnim {
  0% {
    transform: translate(-50%, -50%) scale(0);
    opacity: 0.8;
  }

  100% {
    transform: translate(-50%, -50%) scale(12);
    opacity: 0;
  }
}
